#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: sienna;
    border: 12px solid chocolate;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

#pumpkin1, #pumpkin2, #pumpkin3, #pumpkin4, #pumpkin5, #pumpkin6 {
    height: 200px;
    width: 200px;
    margin: 10px;
    border : 8px solid firebrick;
    background-color: darkorange;

}
img {
    height: 100px;
    width: 100px;
    margin: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: orangered;
}
body {
    background-color: burlywood
}
p {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color:black;
}
#pumpkin1:hover, #pumpkin2:hover, #pumpkin3:hover, #pumpkin4:hover, #pumpkin5:hover, #pumpkin6:hover {
    background-color: crimson;
}